img {
    width: 300px;
    height: auto;
    align-self: center;
  }
  .Encabezado {
    background-color: #AEBD38;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Add this line */
    text-align: center;
  }