.detalles {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #505160;
  color: white;
  width: 600px;
  flex-wrap: wrap;
}

.detalles h2 {
    text-align: center;
    margin-top: 50px;
}

.detalles li {
  font-weight: bold;
}

.detalles button {
  border-radius: 10px;
  border: 2px;
  border-color: black;
  background-color: #AEBD38;
  cursor: pointer;
  color: white;
  margin-bottom: 20px;
}


