@font-face {
  font-family: 'Mukta';
  src: url('https://fonts.google.com/specimen/Mukta') format('truetype');
}

.registerpage {
  font-family: 'Mukta', sans-serif;
  background-color: #68829E;
  min-height: 100vh;
}

/* EstilosLogin.css */
.cuadroregister {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.cuadroregister h1 {
  text-align: center;
  margin: 0;
}

.cuadroregister h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.cuadroregister input {
  width: 275px;
  height: 15px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cuadroregister .Registerbutton {
  width: 100%;
  padding: 10px;
  background-color: #AEBD38;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cuadroregister .Registerbutton:hover {
  background-color: #626b1d;
}

a {
  display: flex;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.cuadroregister .Registerbutton a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nombre {
  display: flex;
  justify-content: right;
  margin: 0;
  margin-bottom: 0;
}

.password {
  display: flex;
  justify-content: right;
  margin: 0;
  margin-bottom: 0;
  gap: 0;

}

