.navegador {
    font-size: larger;
    background-color: #505160;
    display: flex;
}

.buscador button {
    background-color: #AEBD38;
    border: none;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    transition-duration: 0.4s;
}

.botones {
    align-items: center;
    margin-right: 350px;
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: auto;
}

.buscador {
    display: flex;
}

input {
    margin: 4px 2px;
    border-radius: 10px;
    height: 35px;
    width: 200px;
}

.login {
    margin-right: 10px;
    margin-left: 10px;
}

a {
    font-weight: 400;
    font-style: normal;
    display: flex;
    color: white;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 15px;
}

.loginbutton {
    color: white;
}

img {
    width: 100px;
    height: auto;
    margin: 4px 2px;
}

.side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
}
.contlogo {
    margin-right: auto;
}